img   {
display:block;
width: 100%;
margin : 0;
padding: 0;
background-size: cover;
}

#articles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 100%;
    flex-wrap: wrap;
    align-content: center;
}


article {
    position: relative;
    padding: 10px;
    margin: 20px;
    height: 350px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    z-index: 0;
    letter-spacing: 10px;
    font-family: kg;
    font-size: 20px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

footer {
text-align: center;        
}


/* Mobile */
@media only screen and (max-width:600px) {

    [class*="col-"] {
        width: 100%;
}

    

/* Desktop */
@media only screen and (max-width:600px) {
.col-1 {width: 212px;}
.col-2 {width: 212px;}
.col-3 {width: 212px;}
}
